{%extends "base.html" %}

{% block start %}



<div class="container mt-5 " >


  <div class="row justify-content-center">
  <div class="col-md-6">
    <form class="col 6 mx-auto card p-3 shadow-lg custom-form" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="card-header">Add recipe</div>
          <div class="mb-3">

        <div class="mb-3">

          <label for="exampleInputEmail1" class="form-label">recipe name </label>

          <input name = 'recipe_name' type="text" class="form-control" >

          
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">recipe Description</label>
       
          <div class="form-floating">
            <textarea name = 'recipe_desc' class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            
          </div>
            
        </div>

        <div class="mb-3">

            <label for="exampleInputEmail1" class="form-label">recipe image</label>
  
            <input name = 'recipe_image' type="file" class="form-control" >
  
            
          </div>

        <button type="submit" class="btn btn-success">Add Recipe</button>

      </form>

    </div>
  </div>
      <hr>

      <div class="container mt-5 " >
      
      <div class="row justify-content-center">
        <div class="col-md-6">

      <form class="col 6 mx-auto card p-3 shadow-lg custom-form" role="search" id="search-recipe" >

        <div class="mb-3">

          <label for="exampleInputEmail1" class="form-label">Search recipe </label> </div>

          <div class="mb-3">
          <input name = 'Search_recipe' type="text" class="form-control" ></div>

          <div class="mb-3">
          <button type="submit" class="btn btn-success">Search recipe</button>

        </div>

      </form>

    </div>
    </div>
  </div>

      <hr>

      <div class="container mt-5 " >

      <table class="table table-success table-striped" id="recipe-table" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Recipe Name</th>
            <th scope="col">Recipe Description</th>
            <th scope="col">Recipe Img</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {%for item in recipe %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.recipe_name}}</td>
            <td>{{item.recipe_desc}}</td>
            <td>
                <img src="/media/{{ item.recipe_image }}"  class="card-img-top" height="100">
            </td>
            <td>
               <a href="/delete_recipe/{{item.id}}" type="button" class="btn btn-outline-danger mr-3">Delete</a>

               <a href="/update_recipe/{{item.id}}" type="button" class="btn btn-outline-success mr-3">Update</a>


            </td>
          </tr>

          {% endfor %}
          
        </tbody>
      </table>
    </div>


</div>

{% endblock %}