{%extends "base.html" %}

{% block start %}

<h1> Update   </h1>
<hr>

<div class="container mt-5 " >

    <form class="col 6 mx-auto card p-3 shadow-lg custom-form" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="mb-3">

          <label for="exampleInputEmail1" class="form-label">recipe name </label>

          <input name = 'recipe_name' type="text" class="form-control"  value='{{recipe.recipe_name}}' >

          
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">recipe Description</label>
       
          <div class="form-floating">

            <textarea name = 'recipe_desc' class="form-control" placeholder="Leave a comment here" id="floatingTextarea">{{recipe.recipe_desc}}</textarea>
            
          </div>
            
        </div>

        <div class="mb-3">

            <label for="exampleInputEmail1" class="form-label">recipe image</label>
  
            <input name = 'recipe_image' type="file" class="form-control" >
  
            
          </div>

        <button type="submit" class="btn btn-success">update Recipe</button>

      </form>

      <hr>



</div>

{% endblock %}